/* .svg-bg {
  width: 100%;
  height: 433px;

  background: radial-gradient(
    ellipse at 50% -35%,
    #CC97F4 0%,
    #722BFF 35.1%,
    #000000 100%
  );

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

  overflow: hidden;
} */
